
.column {
    text-align: center;
    justify-content: center;
}
.rustic {
    font-family: 'Lobster', cursive;
    color: maroon;
}
.rustic2 {
    font-family: 'Lobster', cursive;
    color: white;
}

.maintext {

    font-family: 'Yantramanav', sans-serif;
}

.adventerous {
    margin-left: 65%;
    margin-top: 12%;
}

.aboutmission{
    margin-top: 10%;
}
.aboutmissionlorem {
    margin-left: 20%;
    margin-right: 20%;
}
.notification {
    margin-left: 10px;
}

.rusticQuote {
    margin-top: 10%;
}

#firstpagecontainer {
    margin-top: 0%;
}

#blendscontainer{ margin-top: 0%;

}

#enter { color:olive;

}

#rusticid {
    margin-top: 10%;
}

